body {
    --tw-bg-opacity: 1;
    background-color: rgba(203, 213, 225, var(--tw-bg-opacity))
}
@media (color-index: 48) {
    body {
        --tw-bg-opacity: 1;
        background-color: rgba(30, 41, 59, var(--tw-bg-opacity))
    }
}
@media (color: 48842621) {
    body {
        --tw-bg-opacity: 1;
        background-color: rgba(30, 41, 59, var(--tw-bg-opacity))
    }
}
@media (color-index: 48) {
    body {
        --tw-bg-opacity: 1;
        background-color: rgba(30, 41, 59, var(--tw-bg-opacity))
    }
}
@media (color: 48842621) {
    body {
        --tw-bg-opacity: 1;
        background-color: rgba(30, 41, 59, var(--tw-bg-opacity))
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --tw-bg-opacity: 1;
        background-color: rgba(30, 41, 59, var(--tw-bg-opacity))
    }
}
